{% extends "base.html" %} 
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            {% if user.is_authenticated == False %}
            <div class="d-flex flex-column align-items-center">
                <img class="logo" src="{% static 'images/thrones_of_britannia_logo_large.png' %}" alt="Thrones of Britannia">
                <p class="logo-text">PROVINCE PLANNER</p>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
                <p class='text-center'>Sign up here to begin creating new plans</p>
                <a class="btn btn-dark" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                <br>
                <p class='text-center'>If you already have an account, login here</p>
                <a class="btn btn-dark" href="{% url 'account_login' %}" role="button">Login</a>
            </div>
            {% else %}
            <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <p class='text-center'>Create a new province plan</p>
                <a class="btn btn-dark" href="{% url 'plan_form' %}" role="button">New Province</a>
            </div>
            {% endif %}
            {% for plan in plan_list %}
            {% if plan.author == request.user %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top" src="{% static 'images/primary_building/' %}{{ plan.primary_building.primary_building|lower }}.png"
                                    alt="{{ plan.primary_building.primary_building }}">
                            </div>
                            <a href="{% url 'plan_detail' plan.slug %}" class="plan-link">
                                <h2 class="card-title">{{ plan.title }}</h2>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">
                                {{ plan.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %} 

{% block copyright %}
    Copyright 2025 David Noble
{% endblock %}
