{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ plan.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ plan.author }} | {{ plan.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class='d-flex justify-content-around align-items-center'>
        <div>
            <img src="{% static 'images/primary_building/' %}{{ plan.primary_building.primary_building|lower }}.png" alt="{{ plan.primary_building.primary_building }}">
            <p></p>
        </div>
        <div>
            <img src="{% static 'images/secondary_building/' %}{{ plan.secondary_building_1.secondary_building|lower }}.png" alt="{{ plan.secondary_building_1.secondary_building }}">
            <p></p>
        </div>
        <div>
            <img src="{% static 'images/secondary_building/' %}{{ plan.secondary_building_2.secondary_building|lower }}.png" alt="{{ plan.secondary_building_2.secondary_building }}">
            <p></p>
        </div>
        <div>
            <img src="{% static 'images/secondary_building/' %}{{ plan.secondary_building_3.secondary_building|lower }}.png" alt="{{ plan.secondary_building_3.secondary_building }}">
            <p></p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <a href="{% url 'plan_edit' plan.slug %}" class="btn btn-warning">Edit Plan</a>
</div>

{% endblock content %}

{% block copyright %}
    Copyright 2025 David Noble
{% endblock %}