{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form id="commentForm" method="post" style="margin-top: 1.3em;">
        {{ plan_form | crispy }}
        {{ primary_form | crispy }}
        {{ secondary_form_1 | crispy }}
        {{ secondary_form_2 | crispy }}
        {{ secondary_form_3 | crispy }}
        {{ tertiary_form_1 | crispy }}
        {{ tertiary_form_2 | crispy }}
        {{ tertiary_form_3 | crispy }}
        {{ tertiary_form_4 | crispy }}
        {{ tertiary_form_5 | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
</div>

{% endblock content %}

{% block copyright %}
    Copyright 2025 David Noble
{% endblock %}